{% extends 'education/base.html' %}

{% block title %}Search Emergency Contacts{% endblock %}

{% block content %}
<h1>Emergency Contacts {% if query %} in "{{ query }}" {% else %}(All Locations){% endif %}</h1>
{% if contacts %}
    <div class="contacts-container">
        {% for contact in contacts %}
            <div class="contact-card">
                <h3>{{ contact.name }}</h3>
                <p>{{ contact.phone_number }}</p>
                <p>Location: {{ contact.location }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No contacts found for the specified location.</p>
{% endif %}
{% endblock %}