{% extends 'education/base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<header>
    <h1>{{ article.title }}</h1>
</header>
<div class="article-detail">
    <h2>{{ article.title }}</h2>
    <p class="meta-info">By {{ article.author }} | {{ article.created_at|date:"F d, Y" }}</p>
    <p>{{ article.content }}</p>
    <a href="{% url 'education:index' %}" class="back-link">← Back to Articles</a>
    <div>
        <a href="{% url 'conversation:new' article.id %}" class="back-link">Contact writer -></a>
    </div>
</div>
{% endblock %}